* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  background-color: rgb(226, 226, 226);
  max-width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#bgImage {
  background-image: url("img/Background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(49, 72, 82, 0.512);
  height: 80px;
  width: 100%;
  color: white;
}

#logo {
  font-size: 38px;
  font-weight: bold;
  padding: 0 50px;
}
#logo span {
  color: #21354e;
}

#navbar {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  column-gap: 10px;
  text-transform: uppercase;
}

.navbarItem {
  list-style: none;
}

.link {
  color: white;
  font-size: 18px;
  border-radius: 3px;
  text-decoration: none;
  padding: 7px 13px;
}

.link:hover {
  background-color: rgb(58, 58, 58);
  transition: 0.5s;
}

#search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 25px;
  height: 30px;
}

#searchBtn {
  display: none;
}

#searchIcon {
  cursor: pointer;
  font-size: 25px;
  margin: 0 25px 0 5px;
}

#check {
  display: none;
}

#checkBtn {
  order: 5;
  justify-content: flex-end;
  font-size: 25px;
  color: white;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 60px 200px 50px 125px;
  row-gap: 20px;
}

.carItem,
.carItemSold {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(163, 163, 163, 0.777);
}

.carItemSold {
  opacity: 55%;
}

.carItem ul li,
.carItemSold ul li {
  font-size: 1.2rem;
  list-style: none;
}

.carItem img,
.carItemSold img,
#thankYouPage img {
  max-width: 250px;
  max-height: 250px;
  grid-column: 1;
}

.carSpecs {
  grid-column: 2;
  line-height: 37px;
  color: rgb(54, 54, 54);
  margin-left: 15px;
}

.carSpecs:hover {
  cursor: default;
}

.carSpecs h2 {
  color: black;
}

.carPrice,
.carPriceSold {
  grid-column: 3;
  place-self: center;
  font-size: 23px;
}

.carPrice:hover {
  color: green;
  transition: 0.75s;
}

.carPrice:hover,
.carPriceSold:hover {
  cursor: default;
}

.buyBtn,
.buyBtnSold {
  grid-column: 4;
  place-self: center;
  background: linear-gradient(to right, #19ca70, #5f9700);
  background-color: #19ca70;
  color: #fff;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 14px 25px;
  border: 0px solid #000;
  border-radius: 100px;
  box-shadow: inset 0px 0px 5px 0px #2d2d2d;
}

.buyBtn:hover {
  background: linear-gradient(to right, #54d085, #79a451);
  background-color: #54d085;
  cursor: pointer;
}

.buyBtn:active {
  transform: scale(0.95);
}

footer {
  border-top: 2px solid black;
  padding: 20px;
  text-align: center;
  font-style: italic;
}

#shoppingCart {
  display: none;
}

#thankYouPage {
  display: none;
}

@media only screen and (max-width: 1101px) {
  #logo {
    font-size: 32px;
    padding: 0 30px;
  }

  .link {
    font-size: 16px;
  }

  #search {
    margin-right: 20px;
  }

    #searchInput {
    max-width: 160px;
    }
    
  .carSpecs h2 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 951px) {
  #logo {
    font-size: 30px;
    padding: 0 20px;
  }

  .link {
    font-size: 14px;
  }

  #search {
    margin-right: 15px;
  }

      #searchInput {
    max-width: 150px;
    }

  .carSpecs h2 {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 871px) {
  #search {
    justify-content: flex-end;
    margin-right: 10px;
  }

  #navbar {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(99, 99, 99);
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }

  #checkBtn {
    display: block;
  }

  #check:checked ~ #navbar {
    left: 0;
  }

  .navbarItem {
    display: block;
    margin: 40px;
    line-height: 30px;
  }

  .link:hover {
    color: rgb(204, 0, 0);
    transition: 0.5s;
  }

  main {
    margin: 15px auto;
  }
  .carItem,
  .carItemSold {
    display: block;
    max-width: max-content;
    margin: auto;
  }

  .carSpecs {
    margin-left: 0;
  }
}

@media only screen and (max-width: 475px) {
  #logo {
    font-size: 25px;
    padding: 0 15px;
  }

  #search {
    margin-right: 5px;
  }

  #searchInput {
    max-width: 120px;
  }

  #searchIcon {
    margin: 3px;
  }

  .carItem img,
  .carItemSold img,
  #thankYouPage img {
    max-width: 200px;
    max-height: 200px;
  }
}

@media only screen and (max-width: 346px) {
  #logo {
    padding: 5px;
  }

  #searchInput {
    max-width: 90px;
    max-height: 28px;
  }

  .carItem img,
  .carItemSold img,
  #thankYouPage img {
    max-width: 175px;
    max-height: 175px;
  }

  .carSpecs {
  line-height: 28px;
}

  .buyBtn,
.buyBtnSold {
  font-size: 15px;
  padding: 11px 20px;
} ;
